footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color_fondo;

    .div_footer {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    p {
        color: $color_p;
        font-family: $fuente;
    }
}