@mixin nosotros ($alto, $ancho,$margin){
    width: $ancho;
    height: $alto;
    margin: $margin;
}

@mixin div_nosotros ($div_margin){
    margin:$div_margin;
}

.section_nosotros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
        @include nosotros (450px, 550px, 50px)
    }

    div {
        @include div_nosotros(50px);

        p {
            color:$color_p;
            font-weight: bold;
            font-size: 15px;
            
        }
    }

   
}

